@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$rootPath: "../..";
$imagesPath: "#{$rootPath}/images";

$flag-icons-path: "#{$imagesPath}/flags";
$flag-icons-rect-path: "/4x3";
$flag-icons-square-path: "/1x1";
$font-family-base: "Kanit";

[lang="ar"] {
  --bs-body-font-family: "Kanit";
}

[lang="en"] {
  --bs-body-font-family: "Kanit";
}

// bootstrap

$color-mode-type: "data";
$enable-dark-mode: true;
